{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>{{ "app_home"|trans }}</h1>
    <ul>
        <li><a href="https://getbootstrap.com/docs/5.2/" target="_blanck">Bootstrap 5.2.3</a></li>
        <li><a href="https://icons.getbootstrap.com/" target="_blanck">Icones Bootstrap 1.10.3</a></li>
    </ul>




    {% if app.user %}
        <a class="btn btn-primary" href="{{ path('app_logout') }}">Se déconnecter</a>
        <a class="btn btn-primary" href="#">Mon compte</a>
        <p>{{ "say_hello"|trans({'name': app.user.nom}) }}</p>
        Mes rôles :
        <ul>
            {% for role in app.user.roles %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>
        Mes attributs :
        <ul>
            {% for key, attribute in app.user.roles %}
                <li>
                    {{ key }} :
                    {% if attribute is  iterable %}
                        Array
                    {% else %}
                        {{ attribute }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>{{ "msg_not_connected"|trans }}</p>
        <a class="btn btn-primary" href="{{ path('app_login') }}">Connexion</a>
        <a class="btn btn-primary" href="{{ path('app_register') }}">Création de compte</a>
    {% endif %}
{% endblock %}


