{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}
{% block stylesheets %}
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {% set formErrors = form.vars.errors.form.getErrors(true) %}

    {% if formErrors|length %}
        <span style="color: red">Erreur(s) détectée(s)</span>
        <ul>
            {% for error in formErrors %}
                <li style="color: red">{{ error.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="card" style="width: 72rem;">
        <div class="card-header text-primary">
            <h1>Renseignez votre présence</h1>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ form_row(form.datedebut) }}</li>
            <li class="list-group-item">{{ form_row(form.datefin) }}</li>

        </ul>
    </div>


    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
    <a class="btn btn-info" href="{{ path('app_mailreservation_index') }}">Retour</a>
    {{ form_end(form) }}



    <div id="calendrier"></div>

{% endblock %}

{% block javascripts %}
    <script>

        window.onload=()=>{



            let calendarElt=document.querySelector("#calendrier")
            let calendar = new FullCalendar.Calendar(calendarElt, {
                initialView: 'timeGridWeek',
                locale: 'fr',
                buttonText: {
                    today:    'Aujourd\'hui',
                    month:    'Mois',
                    week:     'Semaine',
                    day:      'Jour',
                    list:     'Liste'
                },
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev, next today',
                    center : 'title',
                    end : 'dayGridMonth, timeGridWeek'
                },


                events: {{ data|raw }},
                editable: true,
                eventResizableFromStart: true
            })




            calendar.on('eventClick', (e)=>{
                alert("kikkk")
            })


            calendar.render()


        }


    </script>

{% endblock %}