{% extends 'base.html.twig' %}

{% block title %}Mon espace{% endblock %}

{% block body %}

    <nav id="navbar-stagiaire" style="  color: #ffffff;font-size: 20px;background-color: #337ab7;" class="navbar navbar-light">
        <span class="navbar-brand"></span>
    </nav>
    <div class="card">
        <div class="card-header">
            Mes données personnelles
        </div>
        <div class="card-body">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                    <th>Nom / pseudo </th>
                    <td>{{ user.nom }}</td>
                    <th>Téléphone</th>
                    <td>{{ user.telephone }}</td>
                    <th>Actions</th>
                    <td>
                        <a class="btn btn-primary" href="{{ path('app_user_edit', {'id' : user.id}) }}">Modifier</a>
                        <a class="btn btn-primary" href="{{ path('app_user_edit', {'id' : user.id}) }}">Cloturer mon compte</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Mes Réservations
        </div>
        <div class="card-body">
            <table id="table" data-toggle="table" data-search="true" data-pagination="true" data-click-to-select="true">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Etape</th>
                    <th>Collectif</th>
                    <th>Date et heure de début</th>
                    <th>Date et heure de fin</th>
                    <th>Géré par</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.titre }}</td>
                        <td>{{ reservation.etape }}</td>
                        <td>{{ reservation.collectif }}</td>
                        <td>{{ reservation.datedebut|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.datefin|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.priseenmain }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                            <a class="btn btn-primary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Annuler</a>
                            <a class="btn btn-primary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Dupliquer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1">Pas d'enregistrements existants</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Mes Réservations passées
        </div>
        <div class="card-body">
            <table id="table" data-toggle="table" data-search="true" data-pagination="true" data-click-to-select="true">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Etape</th>
                    <th>Collectif</th>
                    <th>Date et heure de début</th>
                    <th>Date et heure de fin</th>
                    <th>Géré par</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>

                {% for reservation in reservationspassees %}
                    <tr>
                        <td>{{ reservation.titre }}</td>
                        <td>{{ reservation.etape }}</td>
                        <td>{{ reservation.collectif }}</td>
                        <td>{{ reservation.datedebut|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.datefin|date('d/m/Y H:i') }}</td>
                        <td>{{ reservation.priseenmain }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Dupliquer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="1">Pas d'enregistrements existants</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>






{% endblock %}
